<div class="container col-8 my-5">
  <h1 class="my-5">Shopping Cart</h1>

  <% if @order_items.empty? %>
    <h3>There are 0 items in your cart :( </h3>
  <% else %>
  <div class="cart-item">
    <%= render 'carts-item' %>
  </div>

  <h2 id="total" class="d-flex justify-content-end my-5">Total Price: <%= number_to_currency(current_order.total) %></h2>
  <% end %>
</div>
