.show-books {
  .book-title {
    color: #023047;
  }
  .book-author {
    color: #219ebc;
  }
  .book-description {
    color: #023047;
  }
  .book-price {
    color: #ffb703;
  }
  .book-seller{
    color: #219ebc;
  }
}
